<div class="footer">
  <ul class="socail-links">
    <li>
      <a href="https://github.com/danii576"><i class="pi pi-github"></i> GitHub</a>
    </li>
    <li>
      <a href="https://www.freelancer.com/u/Danii576"><i class="pi pi-briefcase"></i> Freelancer</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/danish-rasheed-77529531b/"><i class="pi pi-linkedin"></i> LinkedIn</a>
    </li>
  </ul>

  <div class="contact">
    <ul>
      <li>
        <a href="mailto:danirasheed573@gmail.com"><i class="pi pi-envelope"></i> Email</a>
      </li>
      <li>
        <a href="tel:920420832"><i class="pi pi-phone"></i> Phone</a>
      </li>
    </ul>
  </div>

  <span>
    <img src="assets/images/1.jpg" alt="Profile Image" />
  </span>

  <p class="copyright">&copy; 2025 Danish Rasheed. All rights reserved.</p>
</div>