<div class="navbar">
  <div class="navbar-logo">
    <img src="assets/images/1.jpg" (click)="goToHome()" alt="Logo" />
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">
    <i class="pi" [ngClass]="isMenuOpen ? 'pi-times' : 'pi-bars'"></i>
  </button>

  <ul [class.open]="isMenuOpen">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="isMenuOpen = false">
        Home
      </a>
    </li>
    <li>
      <a routerLink="/skills" routerLinkActive="active" (click)="isMenuOpen = false">Skills</a>
    </li>
    <li>
      <a routerLink="/contact" routerLinkActive="active" (click)="isMenuOpen = false">Contact</a>
    </li>
    <li>
      <a routerLink="/hobby" routerLinkActive="active" (click)="isMenuOpen = false">Hobby</a>
    </li>
  </ul>
</div>
